.box-container {
    background-color: #E9E7E7;
    color: black;
    padding-top: 10px;
    overflow: hidden;
  }
  
.trending {
    margin-top: 3rem;
    background-color: white;
    overflow: hidden;
    overflow-x: auto;
    margin: 3rem;

}
  
  .section-title {
    margin: 10px;
    margin-left: 1rem;
    font-size: 22px;
  }
  
  .scroll-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
  }
  
  .scroll-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .songs {
    display: flex;
    background-color: white;
  }
  
  .song-item {
    margin: 10px;
    cursor: pointer;
    height: 15rem;
    width: 12rem;
  }
  
  .song-item img {
    width: 180px;
    height: 180px;
    border-radius: 5%;
    object-fit: cover;
  }
  
  .song-item h2 {
    margin: 5px 0px;
    font-size: 18px;
  }
  
  .song-item span {
    font-size: 14px;
  }
  

  .item-container {
    width: 100%; 
  }
  
  .item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .item-artists {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .item-artist {
    display: inline;
  }
.jioo{
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  margin-bottom: 90px;
}
 
nav {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgb(243, 240, 240); 
  padding: 10px; 
  z-index: 1000;
  padding-top: 50px;
}
.main{
  position: fixed;
  width: 100%;


}